// @import "~bulma/sass/utilities/initial-variables";
// @import "~bulma/sass/utilities/functions";

// custom colors
$primary-color: #00A5CF; // Primary Color
$secondary-color: #25A18E; // Accent Color 1
$tertiary-color: #004E64; // Accent Color 2
$success-color: #62cf93; // Secondary Color
$warning-color: #f1b647; // Tertiary Color

@use "bulma/sass" with (

    $primary: $primary-color,
    $info: $secondary-color,
    $link: $tertiary-color,
    $success: $success-color,
    $warning: $warning-color,
    $body-background-color: #FFFFFF,
    $breadcrumb-item-color: #00A5CF,
    $breadcrumb-item-active-color: #25A18E,
    );

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400&display=swap");


html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
// Import Bulma with the customized variables
// @import "~bulma/bulma";